*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    padding: 10rem 0;
}
h1{
    font-size: 5.4rem
}
h2{
    font-size: 4rem
}
p{
    font-size: 2.3rem;
}
label{
    font-size: 1.6rem;
}
.btn{
    font-size: 2rem;
    padding: 0.5rem 4rem;
    margin-top: 2rem;
}
#score-section{
    background-color: #f1f1f1;
    padding: 5rem 0;
    display: none;
    justify-content: center;
}
#score-section.done{
    display: flex;
}
h3{
    font-size: 3rem;
}
h3 span{
    font-size: 5rem;
    color: #0075ff;
}